<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412574812768-o8lmkr6rqkf8mqpuhfns7d1dpqjvkg6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412574812768-o8lmkr6rqkf8mqpuhfns7d1dpqjvkg6e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412574812768-rt2ta6lldc6kjgc5m97o4kkq805ubf17.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrhE-0eryWbG6i870V-U7XGj6RfnL34ds</string>
	<key>GCM_SENDER_ID</key>
	<string>412574812768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.movieexplorerapp</string>
	<key>PROJECT_ID</key>
	<string>movie-explorer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-explorer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412574812768:ios:135b3bd819ec3b13091105</string>
</dict>
</plist>